<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="./bootstrap-5.3.3-dist/css/bootstrap.css">
</head>
<body>
	<nav class="navbar navbar-expand-xl navbar-light bg-light mb-4">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarBasic">
				<ul class="navbar-nav me-auto mb-2 mb-xl-0">
					<li class="nav-item">
						<a class="nav-link" href="/">Главная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/Restaurant">Задание 3</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/Countries">Задание 5</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	@RenderBody()
	<script src="./bootstrap-5.3.3-dist/js/bootstrap.js"></script>
</body>
</html>
